$primaryColor: purple;

$theme: white;

// Liste
$list: mon-super-site,
bootstrap,
php,
sass;

$langage: symfony;

$list: append($list, $langage, comma);

// Maps
$default: (color: blue, font-size: 1em);

@import 'header';

@mixin border-radius($degres) {
    -moz-border-radius: $degres;
    -webkit-border-radius: $degres;
    -ms-border-radius: $degres;
    border-radius: $degres;
}

@function thewallstreet($nombreA, $nombreB) {
    @return $nombreA / $nombreB+$nombreA * ($nombreB - $nombreA);
}

@mixin googleFonts($font) {
    @import url('https://fonts.googleapis.com/css?family=#{$font}');
}

%theme {
    @if ($theme==purple) {
        color: purple;
        background-color: white;
    }

    @else if($theme==white) {
        color: white;
        background-color: black;
    }

    @else {
        color: black;
        background-color: white;
    }
}

// Fonts
@include googleFonts(Roboto);
@include googleFonts("Noto+Sans+TC");

body {
    @extend %theme;
    // background-color: cyan;
}



%alert {
    border: 1px solid yellow;
    padding: 15px;
    color: white;
    @include border-radius(15px);

    @at-root {
        footer {
            padding: 50px;
            font-family: 'Noto Sans TC', 'Roboto';
            background-color: $primaryColor;
            @include border-radius(10px);
            content: nth($list, 1);

            // footer span
            span {
                color: white;

                // & == this
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.alert-green {
    @extend %alert;
    background-color: green;

}

.alert-red {
    @extend %alert;
    background-color: red;
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 135px;
    color: map-get($default, color);
    @include center;
}

#slogan {
    width: 150px;
    @include center;
}

@for $i from 1 through 6 {
    .grid-#{$i} {
        width: 100px * $i;
    }
}

@each $name in $list {
    .#{$name}-icon {
        background-image: url('/img/#{$name}.png');
    }
}

$i: 0;

@while $i <=6 {
    .grid-#{$i} {
        width: 100px * $i;
    }

    $i: $i+1;
}

// $couleurs: (blue: blue, red: red, green: green, gray: gray, purple: purple);
$couleurs: blue, red, green, gray, purple;

@each $value in $couleurs {
    .color-#{$value} {
        color: $value;
    }
}